# OFFICE 文档解析

## 1 Excel 文档解析

In [4]:
import pandas as pd

df = pd.read_excel('samples/xlssample.xlsx')

df.head()

   序号  姓名     学号  年龄
0   1  王亮  90001  21
1   2  李莉  90002  21
2   3  徐彤  90003  23
3   4  侯月  90004  22
4   5  马凯  90005  21

In [11]:
df.loc[df['姓名'] == '王亮']

   序号  姓名     学号  年龄
0   1  王亮  90001  21

In [14]:
df.iloc[1,1]

'李莉'

In [19]:
df.iloc[:,1]

0    王亮
1    李莉
2    徐彤
3    侯月
4    马凯
Name: 姓名, dtype: object

## 2 Word 文档解析

In [29]:
from docx import Document

help(Document)

Help on function Document in module docx.api:

Document(docx=None)
    Return a |Document| object loaded from *docx*, where *docx* can be
    either a path to a ``.docx`` file (a string) or a file-like object. If
    *docx* is missing or ``None``, the built-in default document "template"
    is loaded.

In [39]:
from docx import Document

doc = Document('samples/wordsample.docx')

for p in doc.paragraphs:
    if p.text:
        print(p.text)
        print(p.style)
table = []        
for t in doc.tables: #找表格
    for i in t.rows: #找每一行
        row = []
        for j in i.cells:
            row.append(j.text) #添加内容
        table.append(row)
    print(table)

13省份经济半年报：四川总量首破2万亿，云南贵州高增长
_ParagraphStyle('Heading 1') id: 2777313549952
截至7月17日，全国已有四川、湖北、湖南、福建、安徽、北京、陕西、江西、内蒙古、云南、贵州、海南、宁夏13省份交出上半年经济成绩单。
_ParagraphStyle('Normal') id: 2777313305168
从经济总量上看，与往年半年报相比，四川今年首次突破2万亿元大关，以经济总量2.05万亿元领跑13省份。湖北以1.99万亿元的成绩暂列第二。宁夏上半年GDP为0.17万亿元，同比增长6.5%，总量暂时垫底。
_ParagraphStyle('Normal') id: 2777313546688
[['排名', '省份', '经济增速', '年度'], ['1', '云南', '9.2%', '2019'], ['2', '贵州', '9%', '2019'], ['3', '江西', '8.6%', '2019']]