# OFFICE 文档解析

## 1 Excel 文档解析

In [4]:
import pandas as pd

df = pd.read_excel('samples/xlssample.xlsx')

df.head()

   序号  姓名     学号  年龄
0   1  王亮  90001  21
1   2  李莉  90002  21
2   3  徐彤  90003  23
3   4  侯月  90004  22
4   5  马凯  90005  21

In [11]:
df.loc[df['姓名'] == '王亮']

   序号  姓名     学号  年龄
0   1  王亮  90001  21

In [14]:
df.iloc[1,1]

'李莉'

In [19]:
df.iloc[:,1]

0    王亮
1    李莉
2    徐彤
3    侯月
4    马凯
Name: 姓名, dtype: object

## 2 Word 文档解析

In [20]:
from docx import Document

help(Document)

ModuleNotFoundError: No module named 'docx'